.outer_forgot_password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.button_forgot_password{
    display: flex;
    justify-content: center;
}

.button_forgot_password button{
    padding: 0.5rem 1rem;
    color: #fff;
    background: black;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    border: white 1px solid;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 2rem;
}

.info_forgot_password{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    width: 16rem;
}

.info_forgot_password label{
    font-family: var(--font-family);
    color: var(--color-subtext);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}