.btn_edit_shop Button{
    padding: 0.5rem 1rem;
    color: #fff;
    background: black;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    border: white 1px solid;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}

.btn_edit_shop{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.add_edit_shop_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.add_edit_shop_form form{
    width: 60%;
}