div{
    color: white;
}

.sign {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
}

.sign h2 {
    margin: .2rem;
}

.day_care {
    height: 200px;
}

.boarding {
    margin-top: 3rem;
    height: 200px;
}

.page_margin{
    margin: 1rem 2rem;
    /*height: 19rem;*/
    /*width: 100%;*/
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    text-space: nowrap;
    overflow-y: hidden;

}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.day_care_background {
    background:-moz-radial-gradient(circle at 0% 25%, rgba(0, 188, 212, 1) 0%, rgba(46, 86, 150, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 0% 25%, rgba(0, 188, 212, 1) 0%, rgba(46, 86, 150, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 0% 25%, rgba(0, 188, 212, 1) 0%, rgba(46, 86, 150, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 0% 25%, rgba(0, 188, 212, 1) 0%, rgba(46, 86, 150, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 0% 25%, rgba(0, 188, 212, 1) 0%, rgba(46, 86, 150, 1) 100%);
}

.boarding_background{
    background:-moz-radial-gradient(circle at 53% 46%, rgba(21, 86, 127, 1) 0%, rgba(0, 40, 83, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 53% 46%, rgba(21, 86, 127, 1) 0%, rgba(0, 40, 83, 1) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 53% 46%, rgba(21, 86, 127, 1) 0%, rgba(0, 40, 83, 1) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 53% 46%, rgba(21, 86, 127, 1) 0%, rgba(0, 40, 83, 1) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 53% 46%, rgba(21, 86, 127, 1) 0%, rgba(0, 40, 83, 1) 100%);
}


.today_info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-weight: 1000;
    font-size: 25px;
    color: var(--color-text);
}

.daycare_bookings{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin: 1rem;
    font-weight: 1000;
    font-size: 25px;
    color: white;
}

.noBookings{
    font-size: 25px;
    color: rgba(236, 54, 54, 0.8);
    font-weight: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 3rem;
}