.outer_checkout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.form_checkout{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.form_checkout form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.receipt{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.receipt{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.details {
    padding: 1rem;
    border: 1px solid white;
}

.detailsTitle {
    font-size: 30px;
    font-weight: 500;
}

.detail{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 20px;
}

.expDate{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.input-container_checkout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
    width: 16rem;
}

.input-container_checkout_small{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 9rem;
}

.expDate input{
    margin-right: .25rem;
    width: 50px;
}

.dateAndCvv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30rem;
    margin-left: 4rem;
}

.cvv{
    width: 80px;
}

.postal{
    width: 80px;
}

/*.input-container{*/
/*    align-items: center;*/
/*}*/

.button-container button{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #fff;
    background: #FF4820;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    width: 70%;
    align-self: center;
}